web/cb/wsdl/RandomGoogleSearch.wsdl

<?xml version="1.0"?><definitions name="RandomGoogleSearch" targetNamespace="urn:RandomGoogleSearch" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:RandomGoogleSearch" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/">
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:RandomGoogleSearch">
<complexType name="RandomGoogleSearch">
<all>
<element name="word" type="xsd:string" />
<element name="image" type="xsd:string" />
</all>
</complexType>
</schema>
</types>
<portType name="RandomGoogleSearchPort">
<operation name="getRandomGoogleSearch">
<input message="tns:getRandomGoogleSearchRequest" />
<output message="tns:getRandomGoogleSearchResponse" />
</operation>
</portType>
<binding name="RandomGoogleSearchBinding" type="tns:RandomGoogleSearchPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="getRandomGoogleSearch">
<soap:operation soapAction="urn:RandomGoogleSearch#randomgooglesearch#getRandomGoogleSearch" />
<input>
<soap:body use="encoded" namespace="urn:RandomGoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:RandomGoogleSearch" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="RandomGoogleSearchService">
<documentation />
<port name="RandomGoogleSearchPort" binding="tns:RandomGoogleSearchBinding">
<soap:address location="http://www.ghettodriveby.com/soap/index.php" />
</port>
</service>
<message name="getRandomGoogleSearchRequest">
<part name="word" type="xsd:string" />
</message>
<message name="getRandomGoogleSearchResponse">
<part name="return" type="tns:RandomGoogleSearch" />
</message>
</definitions>
