web/cb/wsdl/ZipDistance.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.imacination.com/distance/Distance.jws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.imacination.com/distance/Distance.jws" xmlns:intf="http://webservices.imacination.com/distance/Distance.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="getCityResponse">
    <wsdl:part name="getCityReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getStateResponse">
    <wsdl:part name="getStateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getStateRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLatitudeRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLongitudeResponse">
    <wsdl:part name="getLongitudeReturn" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="getDistanceResponse">
    <wsdl:part name="getDistanceReturn" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="getLocationResponse">
    <wsdl:part name="getLocationReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getCityRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLongitudeRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLocationRequest">
    <wsdl:part name="zip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getDistanceRequest">
    <wsdl:part name="fromZip" type="xsd:string"/>
    <wsdl:part name="toZip" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getLatitudeResponse">
    <wsdl:part name="getLatitudeReturn" type="xsd:double"/>
  </wsdl:message>
  <wsdl:portType name="Distance">
    <wsdl:operation name="getState" parameterOrder="zip">
      <wsdl:input message="impl:getStateRequest" name="getStateRequest"/>
      <wsdl:output message="impl:getStateResponse" name="getStateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLocation" parameterOrder="zip">
      <wsdl:input message="impl:getLocationRequest" name="getLocationRequest"/>
      <wsdl:output message="impl:getLocationResponse" name="getLocationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCity" parameterOrder="zip">
      <wsdl:input message="impl:getCityRequest" name="getCityRequest"/>
      <wsdl:output message="impl:getCityResponse" name="getCityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDistance" parameterOrder="fromZip toZip">
      <wsdl:input message="impl:getDistanceRequest" name="getDistanceRequest"/>
      <wsdl:output message="impl:getDistanceResponse" name="getDistanceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLatitude" parameterOrder="zip">
      <wsdl:input message="impl:getLatitudeRequest" name="getLatitudeRequest"/>
      <wsdl:output message="impl:getLatitudeResponse" name="getLatitudeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLongitude" parameterOrder="zip">
      <wsdl:input message="impl:getLongitudeRequest" name="getLongitudeRequest"/>
      <wsdl:output message="impl:getLongitudeResponse" name="getLongitudeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistanceSoapBinding" type="impl:Distance">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getState">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getStateRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getStateResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLocationRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLocationResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCity">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCityRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getCityResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistance">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDistanceRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getDistanceResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatitude">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLatitudeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLatitudeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLongitude">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLongitudeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLongitudeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.imacination.com/distance/Distance.jws" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistanceService">
    <wsdl:port binding="impl:DistanceSoapBinding" name="Distance">
      <wsdlsoap:address location="http://webservices.imacination.com/distance/Distance.jws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>